image{
    width: 100px;
}

body{
    background-color: midnightblue;
}

p{
    color: white;
}

.jumbop{
    color: midnightblue;
}

.center{
    text-align: center;
}

.meimg{
    padding-top: 30px;
}

.img-thumbnail{
    background-color: midnightblue;
    border-color: midnightblue;

}

.backcol{
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.banana{
    padding-top: 20px;
    text-align: center;
    

}

span{
    width: 100%;
    background-color: midnightblue;
    color:white;
    

  bottom: 10px;
    
}



section{
    background-color: midnightblue;
    margin-top: 20px;
    margin-bottom: 20px;
}

label{
    color: white;
}
